
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --color-pink: #ff589e;
    --color-yellow: #F7D9C4;
    --color-backgrd: #ececec;
    --color-purple: #8261ee;
    --color-text-light: #757575;
    --color-text: #232323;
    --font: "DM Sans", sans-serif;
}


*{
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    color: var(--color-text)
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    transition: all 0.3s ease 0s;

}

.button-pink{
    color: #fff;
    background-color: var(--color-pink);
}

.button-purple{
    color: #fff;
    background-color: var(--color-purple);
}

.button-pink:hover{
    background-color: var(--color-purple);
}

.button-purple:hover{
    background-color: var(--color-pink);

}

@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

