/* header  */
.header{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header .inner-main{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 25px 30px;
    border-radius: 45px;
    justify-content: space-between;
}


.header .inner-logo img{
    height: 30px;
    width: auto;
}

.header .inner-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-menu ul li{
    margin-left: 25px;
}

.header .inner-menu ul li a{
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.header .inner-menu ul li a:hover{
    color: var(--color-pink);
}

.header .inner-menu ul li a.active{
    color: var(--color-pink);
}
/* end header  */


/* section one  */
.section-one {
    background-image: url(../image/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-one .inner-wrap{
    /* text-align: center; */
    max-width: 600px;
    margin: 0 auto;
}


.section-one .inner-title{
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}

.section-one .inner-decs{
    color: #fff;
    margin-bottom: 20px;
}


/* end section one  */


/* section two  */
.section-two{
    margin-top: -250px;
}

.section-two .inner-box{
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.section-two .inner-box .inner-icon{
    background-color: var(--color-purple);
    display: inline-flex;
    margin: 0 auto;
    border-radius: 50%;
    padding: 10px;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

   
}
.section-two .inner-box .inner-icon:hover{
    background-color: var(--color-pink);
}

.section-two .inner-box .inner-title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.section-two .inner-box .inner-desc{
    font-size: 15px;
    color: var(--color-text-light);
    margin: 0;
}

/* end section two  */